In [32]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv('opentable_scrape1.csv')

FileNotFoundError: [Errno 2] File b'opentable_scrape1.csv' does not exist: b'opentable_scrape1.csv'

In [4]:
df.rating_list

0       4.5 stars out of 5
1       4.6 stars out of 5
2       4.5 stars out of 5
3       4.6 stars out of 5
4       4.4 stars out of 5
               ...
1257    4.6 stars out of 5
1258    4.3 stars out of 5
1259    4.7 stars out of 5
1260    4.7 stars out of 5
1261    4.6 stars out of 5
Name: rating_list, Length: 1262, dtype: object

In [11]:
float(df.rating_list[0][:4])

4.5

In [6]:
df.head()

,booked_today_list,delivery,expensive,genre,location,num_reviews_list,rating_list,rest_name
0,NaN,Delivery,$ $,Greek,Midtown West,(943),4.5 stars out of 5,Souvlaki GR Midtown
1,NaN,Delivery,$ $,American,Upper West Side,(93),4.6 stars out of 5,Trump Grill
2,NaN,Delivery,$ $,Mexican,Hell's Kitchen,(1005),4.5 stars out of 5,Tacuba Hell's Kitchen
3,NaN,Delivery,$ $,Seafood,Chelsea,(473),4.6 stars out of 5,Cull and Pistol
4,NaN,Delivery,$ $ $,Italian,Greenwich Village,(519),4.4 stars out of 5,Gradisca

In [20]:
df['num_reviews_list'].str.replace('(','')

0      312)
1       26)
2       94)
3      129)
4       84)
5      102)
6      752)
7     5270)
8     1643)
9       NaN
10     104)
11      35)
12     278)
13     570)
14     548)
15      30)
16      NaN
17     256)
18    1455)
19    1517)
20      30)
21    4255)
Name: num_reviews_list, dtype: object

In [27]:
df.expensive[0].count('$')

2

In [34]:
x = 8



if x <10:
    print('Swag')
else: print('lame')

Swag

In [21]:
df['expensive'] = df['expensive'].apply(lambda x: x.count('$'))

In [22]:
df['num_reviews_list'] = df['num_reviews_list'].str.replace('(','')

In [23]:
df['num_reviews_list'] = df['num_reviews_list'].str.replace(')','')

In [15]:
int(df['num_reviews_list'][0])

943

In [25]:
df

,booked_today_list,delivery,expensive,genre,location,num_reviews_list,rating_list,rest_name
0,NaN,Takeout,4,Steakhouse,Union Square,312,4.4 stars out of 5,Strip House Speakeasy
1,NaN,2,3,Italian,Little Italy,26,4.5 stars out of 5,Zia Maria Little Italy
2,NaN,Takeout,3,French,TriBeCa - Downtown,94,4.5 stars out of 5,Yves
3,NaN,2,2,Vietnamese,NoLita,129,4.4 stars out of 5,BoCaphe
4,NaN,2,3,Latin American,Upper East Side,84,4.7 stars out of 5,Dulce Vida Latin Bistro
5,NaN,Takeout,2,Seafood,Battery Park,102,4.3 stars out of 5,Miramar
6,NaN,Takeout,3,Mediterranean,SoHo,752,4.4 stars out of 5,Pera Soho
7,NaN,2,2,Italian,Greenwich Village,5270,4.6 stars out of 5,Lupa
8,NaN,Takeout,2,French,SoHo,1643,4.3 stars out of 5,Laduree SOHO
9,NaN,Delivery partners,2,Chinese,Garment District / Flower District,NaN,NaN,Shanghai Mong
10,NaN,2,2,Chinese,Midtown West,104,4.1 stars out of 5,Red Peony
11,NaN,2,4,Italian,West Village,35,4.5 stars out of 5,Piccolo Angolo
12,NaN,Takeout,2,Italian,NoHo,278,4.4 stars out of 5,Misirizzi
13,NaN,Takeout,2,Italian,East Village,570,4.6 stars out of 5,Porsena
14,NaN,Delivery partners,2,Italian,Hell's Kitchen,548,4.7 stars out of 5,kilo
15,NaN,2,2,American,Hell's Kitchen,30,3.6 stars out of 5,Sall Restaurant & Lounge
16,NaN,2,4,Sushi,Columbus Circle,NaN,NaN,Blue Ribbon Sushi Bar & Grill
17,NaN,Delivery partners,2,Italian,Midtown East,256,4.2 stars out of 5,Angelo Bellini Italian Restaurant
18,NaN,Delivery partners,2,Italian,Midtown West,1455,4.6 stars out of 5,PizzArte
19,NaN,Takeout,2,Indian,Theater District / Times Square,1517,4.3 stars out of 5,Utsav Indian Bar and Grill
20,NaN,Takeout,2,Mexican,Theater District / Times Square,30,4.5 stars out of 5,Tito Murphy's
21,NaN,2,3,Steakhouse,Midtown West,4255,4.3 stars out of 5,STK - NYC - Midtown

In [24]:
df['num_reviews_list'] = df['num_reviews_list'].apply(lambda x: int(x))

ValueError: cannot convert float NaN to integer

In [17]:
df

,booked_today_list,delivery,expensive,genre,location,num_reviews_list,rating_list,rest_name
0,NaN,Delivery,2,Greek,Midtown West,2,4.5 stars out of 5,Souvlaki GR Midtown
1,NaN,Delivery,2,American,Upper West Side,2,4.6 stars out of 5,Trump Grill
2,NaN,Delivery,2,Mexican,Hell's Kitchen,2,4.5 stars out of 5,Tacuba Hell's Kitchen
3,NaN,Delivery,2,Seafood,Chelsea,2,4.6 stars out of 5,Cull and Pistol
4,NaN,Delivery,3,Italian,Greenwich Village,3,4.4 stars out of 5,Gradisca
...,...,...,...,...,...,...,...,...
1257,NaN,Delivery,3,Contemporary Italian,East Village,3,4.6 stars out of 5,Cacio e Pepe
1258,NaN,Delivery,2,Italian,Theater District / Times Square,2,4.3 stars out of 5,Ceci Italian Restaurant
1259,NaN,Delivery,3,Italian,Theater District / Times Square,3,4.7 stars out of 5,La Masseria
1260,NaN,Delivery,2,American,Chelsea,2,4.7 stars out of 5,Westville - Chelsea
1261,NaN,Delivery,3,Indian,Midtown East,3,4.6 stars out of 5,Amma