In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('opentable_scrape.csv')

In [4]:
df.rating_list

0       4.5 stars out of 5
1       4.6 stars out of 5
2       4.5 stars out of 5
3       4.6 stars out of 5
4       4.4 stars out of 5
               ...
1257    4.6 stars out of 5
1258    4.3 stars out of 5
1259    4.7 stars out of 5
1260    4.7 stars out of 5
1261    4.6 stars out of 5
Name: rating_list, Length: 1262, dtype: object

In [11]:
float(df.rating_list[0][:4])

4.5

In [6]:
df.head()

,booked_today_list,delivery,expensive,genre,location,num_reviews_list,rating_list,rest_name
0,NaN,Delivery,$ $,Greek,Midtown West,(943),4.5 stars out of 5,Souvlaki GR Midtown
1,NaN,Delivery,$ $,American,Upper West Side,(93),4.6 stars out of 5,Trump Grill
2,NaN,Delivery,$ $,Mexican,Hell's Kitchen,(1005),4.5 stars out of 5,Tacuba Hell's Kitchen
3,NaN,Delivery,$ $,Seafood,Chelsea,(473),4.6 stars out of 5,Cull and Pistol
4,NaN,Delivery,$ $ $,Italian,Greenwich Village,(519),4.4 stars out of 5,Gradisca

In [17]:
df['num_reviews_list'].str.replace('(','')

0        943)
1         93)
2       1005)
3        473)
4        519)
        ...
1257    1091)
1258    2853)
1259    4665)
1260      43)
1261    1540)
Name: num_reviews_list, Length: 1262, dtype: object

In [27]:
df.expensive[0].count('$')

2

In [34]:
x = 8



if x <10:
    print('Swag')
else: print('lame')

Swag

In [7]:
df['expensive'] = df['expensive'].apply(lambda x: x.count('$'))

In [10]:
df['num_reviews_list'] = df['num_reviews_list'].str.replace('(','')

In [11]:
df['num_reviews_list'] = df['num_reviews_list'].str.replace(')','')

In [15]:
int(df['num_reviews_list'][0])

943

In [ ]:
df['num_reviews_list']

In [8]:
df

,booked_today_list,delivery,expensive,genre,location,num_reviews_list,rating_list,rest_name
0,NaN,Delivery,2,Greek,Midtown West,(943),4.5 stars out of 5,Souvlaki GR Midtown
1,NaN,Delivery,2,American,Upper West Side,(93),4.6 stars out of 5,Trump Grill
2,NaN,Delivery,2,Mexican,Hell's Kitchen,(1005),4.5 stars out of 5,Tacuba Hell's Kitchen
3,NaN,Delivery,2,Seafood,Chelsea,(473),4.6 stars out of 5,Cull and Pistol
4,NaN,Delivery,3,Italian,Greenwich Village,(519),4.4 stars out of 5,Gradisca
...,...,...,...,...,...,...,...,...
1257,NaN,Delivery,3,Contemporary Italian,East Village,(1091),4.6 stars out of 5,Cacio e Pepe
1258,NaN,Delivery,2,Italian,Theater District / Times Square,(2853),4.3 stars out of 5,Ceci Italian Restaurant
1259,NaN,Delivery,3,Italian,Theater District / Times Square,(4665),4.7 stars out of 5,La Masseria
1260,NaN,Delivery,2,American,Chelsea,(43),4.7 stars out of 5,Westville - Chelsea
1261,NaN,Delivery,3,Indian,Midtown East,(1540),4.6 stars out of 5,Amma